<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        label{
            display: block;
        }
    </style>
    <title>Cadastrar produtos</title>
</head>

<body>
    <h1>Cadastro de Produtos</h1>

    <form action="/cadastro/produto/salvar" method="post">
        <label for="nome">Nome:</label>
        <input type="text" name="nome" id="nome">
        <label for="qtd">Quantidade:</label>
        <input type="number" name="qtd" id="qtd">
        <label for="preco">Preço:</label>
        <input type="text" name="preco" id="preco">
        <input type="submit" value="cadastrar">
    </form>

    <%if(mensagem){%>
        <p><label style="color: #0352fc;"><%= mensagem %></label></p>
    <%}%>

</body>

</html>